<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LN:newNote</title>
    <link rel="icon" href="https://res.cloudinary.com/du1tos77l/image/upload/v1732711305/icon2_y88pp3.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        /* Target the entire scrollbar */
        ::-webkit-scrollbar {
            width: 5px; /* Width of the vertical scrollbar */
            height: 7px; /* Height of the horizontal scrollbar */
        }
        
        /* Track (the background of the scrollbar) */
        ::-webkit-scrollbar-track {
            background: #f1f1f1; /* Light gray background */
            border-radius: 10px; /* Rounded edges for the track */
        }
        
        /* Thumb (the draggable handle) */
        ::-webkit-scrollbar-thumb {
            background: #888; /* Medium gray color */
            border-radius: 10px; /* Rounded edges for the thumb */
        }
        
        /* Hover effect for the thumb */
        ::-webkit-scrollbar-thumb:hover {
            background: #555; /* Darker gray when hovered */
        }

        body{
            background-color: black;
            margin: 0;
            padding: 0;
        }
        .sidebar {
            position: fixed; 
            top: 0;         
            left: 0;      
            width: 230px;   
            height: 100vh;
            display: flex;
            justify-content: flex-start;
            /* align-items: center; */
            flex-direction: column;
            background-color: black;
            z-index: 2000;
            border-right: 2px solid white;
        }
        .logo{
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 10px;
            width: 230px;
        }
        .options{
            width: 170px;   
            height: 100vh;
            display: flex;
            justify-content: space-evenly;
            /* align-items: center; */
            flex-direction: column;
            padding-left: 50px;
        }
        .name{
            font-family:'Times New Roman', Times, serif;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 230px;

        }
        .home,.notes,.chatting,.settings,.newpost{
            color: white;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        .home:active,.notes:active,.chatting:active,.settings:active,.newpost:active{
            transform: scale(0.95);
        }
        .but{
            background-color: black;
            color: white;
            padding: 0;
            margin: 0;
            border: 1px solid black;
        }
        .index{
            display: flex;
            flex-direction: row;
        }
        .card{
            margin: 15px;
            /* border-bottom: 1px solid rgb(122, 119, 119); */
            background-color: black;
        }
        .posts{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            margin-top: 90px;
            background-color: black;
        }
        #inputPassword2::placeholder {
            color: white; /* Change placeholder color */
            opacity: 1; /* Ensure it is fully opaque */
        }
        .main{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
        .topbar{
            background-color: black;
            position: fixed;
            top: 0;
            left: 110px;
            height: 80px;
            width: 100%;
            z-index: 1000;
        }
        .label{
            /* display: none; */
            margin-left: 10px;
            font-weight: bold;
            font-size: larger;
        }
        .addnote{
            margin-top: 100px;
            color: white;
            padding: 8px;
            background-color: white;
            width: 230px;
            display: flex;
            justify-content: center;
            border-radius: 30px;
            position: fixed;
            left: 250px;
        }
        .addnote:hover,label:hover{
            cursor: pointer;
        }
        .pure{
            display: flex;
            flex-direction: row;
            gap: 10px;
            color: black;
        }
        #an{
            padding: 0;
            border: none;
            background-color: white;
        }
        .allnotes{
            display: flex;
            flex-direction: column;
            background-color: black;
            /* justify-content: center; */
            align-items: center;
            width: 100%;
            height: 600px;
        }
        .h3{
            color: white;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .form-control{
            background-color: white;
            color: white;
        }
        .newn{
            position: fixed;
            top: 200px;
        }
        .in{
            border-radius: 10px;
            font-size: medium;
        }
        /* .allnotes{
            width: 1000px;
            height: 550px;
            margin-top: 100px;
            background-color: white;
        } */
    </style>
</head>
<body>
    <div class="index">
        <div class="sidebar">
            <div class="logo">
                <form action="/home" method="get">
                    <button type="submit" style="padding: 0px; border: none; background-color: black;">
                        <img src="https://res.cloudinary.com/du1tos77l/image/upload/v1732711305/icon2_y88pp3.ico" alt="icon" style="width: 4rem;">
                    </button>
                </form>
            </div>
            <div class="name"><h5>LinkNest</h5></div>
            <div class="options">
            <div class="home">
                <form action="/home" method="get">
                    <button class="but"><i class="fa-solid fa-house"></i><span class="label">Home</span></button>
                </form>
                
            </div>
            <div class="notes">
                <form action="/notes">
                    <button class="but"><i class="fa-solid fa-note-sticky"></i><span class="label">Notes</span></button>
                </form>
                
            </div>
            <div class="chatting">
                <form action="/chat" method="get"><button class="but"><i class="fa-solid fa-comments"></i><span class="label">Chat</span></button></form>
            </div>
            <div class="newpost">
                <form action="/newpost" method="get">
                    <button class="but"><i class="fa-solid fa-square-plus"></i><span class="label">New Post</span></button>
                </form>
            </div>
            <div class="todolist">
                <form action="/todolist" method="get">
                    <button class="but"><i class="fa-solid fa-list-check"></i><span class="label">ToDoList</span></button>
                </form>
            </div>
            <div class="settings">
                <form action="/settings" method="get">
                    <button class="but"><i class="fa-solid fa-gear"></i><span class="label">Settings</span></button>
                </form>
            </div>
        </div>
    </div>
        <div class="main">
            <div class="topbar">

            </div>
            <div class="allnotes">
                <div class="addnote">
                    <form action="/todolist" method="get">
                        <button type="submit" id="an">
                            <div class="pure">
                                <div class="add"><i class="fa-solid fa-chevron-left"></i></div>
                                <div class="lab"><label for="note">Back to My TodoList</label></div>
                            </div>
                        </button>
                    </form>
                </div>
                <div class="newn">
                    <form action="/todolist/newtodo" method="post">
                        <div class="h3">
                            <div class="hea"><label for="exampleInputEmail1" class="form-label">Task</label></div>
                            <div class="fill">
                                <textarea name="task" class="in" rows="10" cols="70"></textarea>
                            </div>
                            <div>
                                <label for="priority">Priority Level:</label>
                                <input type="range" id="priority" name="priority" min="1" max="5" value="3" oninput="showPriority(this.value)">
                                <span id="priority-value">3</span>
                            </div>  
                            <div class="sub"><button type="submit" class="btn btn-outline-light">Submit</button></div>
                        </div>
                        
                      </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        function showPriority(value) {
          document.getElementById("priority-value").innerText = value;
      }
    </script>
</body>
</html>